/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

    html {
      height: 100%;
    }
    body {
       height: 100%;
       font-family:courier;
    }

    header {
      background-color:;
      padding:5px;
      border:2px solid black;
      text-align:center;
      font-size: 25px;
      color:#000099 ;
      display: block;
      width: 1004px;
    }
    nav {
        line-height:;
        background-color:;
        padding:5px;
        border:2px solid black;
        margin: 25px;
        width:125px;
        height:100%;
        display: inline-block;
        vertical-align: top;
    }
    nav ul {
        list-style-type: none;
    }
    a {
        color: ;
    }
    section {
        width: 516px;
        display: inline-block;
        height: 100%;
    }
  article img {
      height: 175px;
  }
  article{
    padding:25px 75px 25px;
    border: 2px solid #000000;
    margin: 25px;
  }
    aside {
      width: 125px;
      display: inline-block;
      vertical-align: top;
      background-color:;
      font-size: ;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:;
        text-align:;
        padding:5px;
        display: block;
    }
